.logo{
  text-align: center;
  margin-top: 10px;
}
.title{
  margin: 20px 0 20px 0;
}

.dados{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.data{
  margin-top: 10px;
  
  .calendario{
    margin: 5px 0 15px 0;
  }
}
